*{
	margin: 0;
	padding:0;
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Amaranth', sans-serif;
}
body{
	background-color: black;
	padding-top: 30px;
	text-align: center;
}
.container{
	width: 80%;
	min-height: 70vh;
	background-color: bisque;
	margin: auto;
	text-align: start;
	display: flex;
	padding-left: 30px;
	padding-right: 30px;
	flex-wrap: wrap;
}
.header-text{
	font-size: 60px;
	color: white;
}
.header-name{
	font-size: 50px;
	color:white;
	margin-bottom: 50px;
}
.container .games{
	width: 300px;
	height:500px;
	border: 3px solid red;
	flex: auto;
	margin:40px 20px;
	align-self: center;
	overflow: hidden;
	border-radius: 30px;
	position: relative;
	transition: 0.5s;
	cursor: pointer;
	
}
.container .games:hover{
	box-shadow: 0px 0px 16px 0px rgba(0,0,0, 0.7);
	
}
.games img{
	width: 100%;
	height: 100%;
	border-radius: 30px;

	
	/* transition: transform .5s ease; */
}
/* .games img:hover {
	transform: scale(1.3);
} */

/********************Layer Section*****************/
.layer{
	left: 0;
	top: 0;
	background-color: red;
	opacity: 0.5;
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: transparent;
	transition: 0.5s;
	
	
}
.games .layer h2{
	left: 50%;
	font-size: 50px;
	font-weight: 700;
	color: white;
	bottom: 0%;
	position: absolute;
	transform: translateX(-50%);
	opacity: 0;
	transition: 0.5s;
}
.container .games .layer:hover {
	background-color: red;
}
.container .games .layer:hover h2{
	bottom: 49%;
	opacity: 1;
}


/*****************End Of Layer SECTION***************************/

.score-section{
	color: white;
	margin-bottom: 100px;
	margin-top: 40px;;
}
.score-section h1{
	font-size: 50px;
	position: relative;
	/* display: inline-block;  */
	margin: auto;
    padding-bottom: 8px;
}
.score-section h1::after{
	width: 100%;
	content: '';
	height: 4px;
	background-color: red;
	position: absolute;
	bottom: 0;
	left: 0;
}
.score-text{
	display: flex;
	flex-direction: column;
}
.scoreline{
	display: flex;
	justify-content: space-between;
	width: 40%;
	text-align: center;
	margin: auto;
	flex-wrap: wrap;
}
.scoreline h2{
	font-size: 40px;
}
.score-section .gameresult{
	margin-top: 20px;
	font-size: 32px;
	padding-top: 20px;

}
